<script>
  $(document).ready(function(){
    var dat_extension = $('#unidad').val();
    $.post("extensiones_sedes", function(result){
      $.each(result, function(i, field){
        if (dat_extension == field.tac_unidade_id) {
          $("#sedes").append(`<option value = ${field.id}>` + field.coordinaciones_extensiones + "</option>" );
          //console.log(field.coordinaciones_extensiones);
        }
      });
    }, 'json');

    var dat_materia = $('#competencia').val();
    //console.log(dat_materia);
    $.post("materias", function(result){
      $.each(result, function(i, field){
        //console.log(i);
        if (i == 0) {
          i +=1
          console.log(i);
        }
        if (i == field.id) {
          $("#materias").html(`<option value = ${field.id}>` + field.materia + "</option>" );
        }
        if (dat_materia == field.tac_competencia_id) {
          $("#materias").append(`<option value = ${field.id}>` + field.materia + "</option>" );
          //console.log(field.materia);
        }
      });
    }, 'json');



// ######## Unidades y sedes #####################


    $('#unidad').change(function() {
    $("#sedes").html("<option>" +"Seleccione..."+ "</option>" );
    var unidad = $('#unidad').val();  
    console.log(unidad)  
    $.post("extensiones_sedes", function(result){
      $.each(result, function(i, field){
        if (unidad == field.tac_unidade_id) {
          $("#sedes").append(`<option value = ${field.id}>` + field.coordinaciones_extensiones + "</option>" );
        }
      });
    }, 'json');
  });

// ######## Fin Unidades y sedes #####################

// ######## Materias #####################
  
  $('#competencia').change(function() {
    $("#materias").html("<option>" +"Seleccione..."+ "</option>" );
    var competencia = $('#competencia').val();    
    $.post("materias", function(result){
      $.each(result, function(i, field){
        if (competencia == field.tac_competencia_id) {
          $("#materias").append(`<option value = ${field.id}>` + field.materia + "</option>" );
        }
      });
    }, 'json');
  });

  // ######## Fin Materias #####################

  });

</script>
<div class="">
  <h3>Editar</h3>

<%= form_for @tac_juramentados, url: {action: "update"}  do |juramentados| %>

  <% if @tac_juramentados.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@tac_juramentados.errors.count, "error") %> han impedido que el artículo sea grabado:
      </h2>
      <ul>
        <% @tac_juramentados.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class = "form-row">
    <div class="form-group">
      <%= juramentados.label :Acta %><br> 
      <%= juramentados.select :tac_acta_id, options_from_collection_for_select(@tac_actas,
            :id, :numero_acta,@tac_juramentados.tac_acta_id), { prompt: 'Seleccione...' }, { required: true, class: 'form-control' } %>
    </div>
  </div>

  <div class = "form-row">
    <%= juramentados.label :Nombres %>
  </div>
  <div class = "form-row">
    <div class="form-group">
      <%= juramentados.text_field :primer_nombre, :class => "form-control", placeholder: "Primer nombre" %>
    </div>
    <div class="form-group">
      <%= juramentados.text_field :segundo_nombre, :class => "form-control offset-md-1", placeholder: "Segundo nombre" %>
    </div>

  </div>

  <div class = "form-row">
    <%= juramentados.label :Apellidos %>
  </div>
  <div class = "form-row">
    <div class="form-group">
      <%= juramentados.text_field :primer_apellido, :class => "form-control", placeholder: "Primer apellido" %>
    </div>
    <div class="form-group">
      <%= juramentados.text_field :segundo_apellido, :class => "form-control offset-md-1", placeholder: "Segundo apellido" %>
    </div>
  </div>

  <div class = "form-row">
    <%= juramentados.label :Cedula %>
  </div>
  <div class = "form-row">
    <div class="form-group">
      <%= juramentados.text_field :cedula, :class => "form-control col-md-5", placeholder: "Cedula" %>
    </div>
  </div>
  <div class = "form-row">
    <div class="form-group">
      <%= juramentados.label :cargo %><br>
      <%#= puts '111111111' + juramentados %> 
      <%= juramentados.select :cargo, options_from_collection_for_select(@tac_cargos,
            :cargos, :cargos, @tac_juramentados.cargo), { prompt: 'Seleccione...' }, { required: true, class: 'form-control' } %>
    </div>
  </div>

  <div class= "form-row">
    <div class="form-group">
      <%= juramentados.label :unidad %><br> 
      <%= juramentados.select :tac_unidade_id, options_from_collection_for_select(@tac_unidades,
            :id, :coordinaciones_regionales, @tac_juramentados.tac_unidade_id), { prompt: 'Seleccione...' }, { required: true, class: 'form-control',id: 'unidad' } %>
    </div>

    <div class="form-group" style="margin-left: 10px;">
      <%= juramentados.label :extension_o_sede %><br> 
      <select id="sedes" class="form-control" name="tac_juramentado[tac_extensiones_sedes_id]"></select>
    </div>

  </div>

  <div class = "form-row">
    <div class="form-group">
      <%= juramentados.label :competencia %><br> 
      <%= juramentados.select :tac_competencia_id, options_from_collection_for_select(@tac_competencias,
            :id, :competencia, @tac_juramentados.tac_competencia_id), { prompt: 'Seleccione...' }, { required: true, class: 'form-control', id: 'competencia' } %>
    </div>
    <div class="form-group" style="margin-left: 10px;">
      <%= juramentados.label :materias %><br> 
      <select id="materias" class="form-control" name="tac_juramentado[tac_materia_id]" required></select>
    </div>
  </div>

  <div class = "form-row">
    <div class="form-group">
      <%= juramentados.label :resolucion %><br>
      <%= juramentados.text_field :resolucion, :class => "form-control" %>
    </div>
    <div class="form-group" style="margin-left: 30px;">
      <%= juramentados.label :fecha %><br>
      <%= juramentados.date_field( :fecha_resolucion, start_year: 2019)%>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <%= juramentados.submit "Guardar", :class => "btn btn-success col-md-1 offset-md-4 tabla-color" %>
  </div>


<% end %>
</div>