<p>
  <h2 id="qwe">Juramentados</h2>  
</p>
<div>
  <% if flash[:info]%>
    <div class="alert alert-success alert-dismissible fade show"> 
      <%=flash[:info] %> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <%end%>

  <% if flash[:error]%>
    <div class="alert alert-danger alert-dismissible fade show"> 
      <%=flash[:error] %> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <%end%>
</div>

<table class="table" id="tacactasFirmantes">
  <thead class="backroundColorPrincipal" >
    <tr>
      <th scope="col">Acta</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cedula</th>
      <th scope="col">Unidad</th>
      <th scope="col">Extensión o Sede</th>
      <th scope="col">Resolución</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
     <% @tacjuramentados.each do |juramentados| %>
    <tr>
      <td><%= juramentados.numero_acta%></td>
      <td><%= juramentados.primer_nombre%> <%= juramentados.primer_apellido%> </td>
      <td><%= juramentados.cedula%></td>
      <td><%= juramentados.coordinaciones_regionales%></td>
      <td><%= juramentados.coordinaciones_extensiones%></td>
      <td><%= juramentados.resolucion%></td>
      <td>
        <%= link_to '', edit_juramentado_path(juramentados.id), :class => "clear button fi-page-edit"%>
        <%= link_to '', juramentado_path(juramentados.id), method: :delete, data:{confirm: '¿Esta seguro?'}, :class => "clear button alert fi-trash"%> 
      </td>

    </tr>
     <% end %>
  </tbody> 
</table>

<div class="text-center ">
   <%= link_to 'Agregar', new_juramentado_path, :class => "button buttonColor", id: 'asd'%> 
</div>
<p id="asd2"></p>
<script>
  
  $('#tacactasFirmantes').dataTable({
    language: traduceDataTable()
  });  
   
</script>