<script>
  $(document).ready(function(){
    $("#formulario")[0].reset();
    
    function buscar_cedula() {
      var cedula = $('#cedula').val();
      $.ajax(
            {   url: 'traer_cedulados',
              data: {cedula: cedula},
              type: 'post',
              //dataType: 'json',
              success: function(data) {
                procesarDatos(data)
              },
              error: function() {
                  $("#notificacion").html("<p style='color:red'>No se encuentra el funcionario</p>");
              }
            }
          );

      function procesarDatos(datos_devueltos){
        $("#notificacion").html("<p style='color:green'>Encontrado</p>");
        $("#primer_nombre").val(datos_devueltos.PRIMERNOMBRE);
        $("#segundo_nombre").val(datos_devueltos.SEGUNDONOMBRE);
        $("#primer_apellido").val(datos_devueltos.PRIMERAPELLIDO);
        $("#segundo_apellido").val(datos_devueltos.SEGUNDOAPELLIDO);
        $("#FormCedula").val(datos_devueltos.NUMCEDULA);
        // a continuación le agregamos disable a los campos que es traidos desdes el ajax
        $("#primer_nombre").attr('readonly', true);
        $("#segundo_nombre").attr('readonly', true);
        $("#primer_apellido").attr('readonly', true);
        $("#segundo_apellido").attr('readonly', true);
        $("#FormCedula").attr('readonly', true);
      }
    }

    $('#cedula').change(function() {
      buscar_cedula();
    });

    $("#buscador").click(function(){
      buscar_cedula();
      
      //return false
    });
  });
</script>
<section class = 'offset-md-1'> 
  <h1 class="" style= "margin-left:24%; margin-top:1%;">Registro de Juramentados</h1>
  <%= form_with scope: :acta, id: 'formulario', url: juramentados_path, local: true do |form| %>
  <div style= "margin-top:2%;">
    <div class="form-group offset-md-8"> 
      <div class = "form-row">
        <input class="form-control col-md-4" placeholder="Cédula" id="cedula" type="text" name="acta[cedula]" title= "Cedula para buscar al funcionario">
        <input type="button" value="Buscar" id="buscador" style="margin-left:10px" class="btn btn-success focus">
        <span id="notificacion" style="margin-left:15px"></span>
      </div>
    </div>
  </div>

  <div class = "form-row">
    <div class="form-group">
      <%= form.label :Acta %><br> 
      <%= form.select :tac_acta_id, options_from_collection_for_select(@tacactas,
            :id, :numero_acta), { prompt: 'Seleccione...' }, { required: true, class: 'form-control' } %>
    </div>
  </div>
 

  <div class = "form-row">
    <%= form.label :Nombres %>
  </div>
  <div class = "form-row">
    <div class="form-group">
      <%= form.text_field :primer_nombre, :class => "form-control", placeholder: "Primer nombre", id: 'primer_nombre' %>
    </div>
    <div class="form-group">
      <%= form.text_field :segundo_nombre, :class => "form-control offset-md-1", placeholder: "Segundo nombre", id: 'segundo_nombre' %>
    </div>

  </div>

  <div class = "form-row">
    <%= form.label :Apellidos %>
  </div>
  <div class = "form-row">
    <div class="form-group">
      <%= form.text_field :primer_apellido, :class => "form-control", placeholder: "Primer apellido", id: 'primer_apellido' %>
    </div>
    <div class="form-group">
      <%= form.text_field :segundo_apellido, :class => "form-control offset-md-1", placeholder: "Segundo apellido", id: 'segundo_apellido' %>
    </div>
  </div>

    <div class = "form-row">
      <%= form.label :Cédula %>
    </div>
    <div class="form-group">
      <%= form.text_field :cedula, :class => "form-control col-md-1 enteroPositivo", placeholder: "Cédula", id: 'FormCedula', pattern:'[0-9]{3,8}' %>
    </div>
  
  
  <div class = "form-row">
    <div class="form-group">
      <%= form.label :cargo %><br> 
      <%= form.select :cargo, options_from_collection_for_select(@taccargos,
            :cargos, :cargos), { prompt: 'Seleccione...' }, { required: true, class: 'form-control' } %>
    </div>
  </div>
  <div class= "form-row">
    <div class="form-group">
      <%= form.label :sede %><br> 
      <%= form.select :sede, options_from_collection_for_select(@tinsedes,
            :descripcion, :descripcion), { prompt: 'Seleccione...' }, { required: true, class: 'form-control' } %>
    </div>
  </div>

  <div class = "form-row">
    <div class="form-group">
      <%= form.label :competencia %><br> 
      <%= form.select :competencia, options_from_collection_for_select(@taccompetencias,
            :nombre_completo, :nombre_completo), { prompt: 'Seleccione...' }, { required: true, class: 'form-control' } %>
    </div>
  </div>

  <div class = "form-row">
    <div class="form-group">
      <%= form.label :resolución %><br>
      <%= form.text_field :resolucion, :class => "form-control" %>
    </div>
    <div class="form-group" style="margin-left: 30px;">
      <%= form.label :fecha %><br>
      <%= form.date_field( :fecha_resolucion, start_year: 2020)%>
    </div>
  </div>
  <div style="margin-top: 20px;">
    <%= form.submit "Guardar", :class => "btn tabla-color col-md-2 offset-md-3 " %>
  </div>
  <% end %>
</section>

<script>
  $("form")
    .off("keyup",     ".enteroPositivo").on("keyup",     ".enteroPositivo",    function() {this.value = this.value.replace(/[^0-9]/g,'');});

  $("body")
    .off("mouseover", ".focus").on("mouseover", ".focus",             function() {this.focus();});
</script>
