<div>
  <h3>Editar</h3>

  <%= form_for @tacactas, url: {action: "update"}  do |acta| %>

    <% if @tacactas.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@tacactas.errors.count, "error") %> han impedido que el artículo sea grabado:
        </h2>
        <ul>
          <% @tacactas.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-row"> 
      <div class="form-group">
        <%= acta.select :sede, options_from_collection_for_select(@tinsedes,
            :direccion, :descripcion), { prompt: 'Seleccione...' }, { required: true, class: 'form-control' } %>
      </div>
    </div>

    <%= acta.label :Firmante %><br>
    <div class="form-row"> 
      <div class="form-group">
        <%= acta.select :tac_firmante_id, options_from_collection_for_select(@tacfirmantes,
            :id, :nombre_completo), { prompt: 'Seleccione...' }, { required: true, class: 'form-control' } %>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <%= acta.submit "Guardar", :class => "btn btn-success col-md-2 offset-md-3" %>
    </div>
  <% end %>
</div>