<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <style>
      body {
        font-family: Arial;
      }
      .justify {
        text-align:justify;
        font-size:18px;
                }
      .center{
        text-align:center;
        font-size:25px;
              }
      h2 {
        text-align:center;
          }
      .tamanio{
        font-size:15px;
              }
      img {
        width:250px;
        height:100px;
          }
      p {
        line-height: 35px;
        }

    </style>
    <img src="<%= wicked_pdf_asset_path 'logo.png' %>">
  </head>
  <body>
    <h2>ACTA N° <%=@tacactas[0].numero_acta%> - <%= @t.year%></h2>
    <p class="justify">
      En el día de hoy, <%= l(@tacactas[0].para, format: '%A') %> <%= @dia_letras %>  (<%= @tacactas[0].para.day %>) de <%= l(@tacactas[0].para, format: '%B').capitalize %> del año <%= @anio_letras %> (<%= @tacactas[0].para.year %>),
      siendo las <%= @hora_letras %> (<%= @tacactas[0].para.hour %>), en la sede de la Defensa Pública,
      <%=@tacactas[0].sede.titleize  %>, en razón a la convocatoria
      realizada comparecen <%= @tacactas[0].inicio_acta%> los (las)
      ciudadanos (a): 
      <% @tacactas.each do |datos|%>
        <%# Estas validaciones son para que no se repita el funcionario si contiene mas de una materia%>
        <%manilla = datos.cedula%>
        <% if manilla != @cedula %>
          <%@cedula = manilla%>
          <%primeraVez = true%>
        <% end %>
        
        <% if @cedula == manilla && primeraVez == true %>
          <b><%=datos.primer_nombre.upcase %></b> <b><%=datos.segundo_nombre.upcase%></b>
          <b><%=datos.primer_apellido.upcase %></b> <b><%=datos.segundo_apellido.upcase%></b>,
          titular de la cédula de identidad N° <%=datos.cedula %>, a los fines de ser juramentado como 
          <%=datos.cargo_j %> <%=datos.cargo_letras %> (<%=datos.cargo_numero %>°) con competencia en materia <%=datos.materia %>, adscrito a la <%=datos.coordinaciones_regionales %>, <%=datos.coordinaciones_extensiones %> según resolución N° <%=datos.resolucion %>
          de fecha <%= datos.fecha_resolucion%>.
          <%primeraVez = false%>
        <% elsif @cedula == manilla %>
          <%=datos.materia %>, adscrito a la <%=datos.coordinaciones_regionales %>, <%=datos.coordinaciones_extensiones %> según resolución N° <%=datos.resolucion %>
            de fecha <%= datos.fecha_resolucion%>.
        <% end %>
      <% end %>
      <%=@tacactas[0].fin_acta%>
    </p>
    <br><br><br><br><br><br><br><br><br>
    <p class="center">
      ____________________________
      <br>
      <p class="center" style="line-height:2px;">
        <b><%=@tacactas[0].titulo%>. <%=@tacactas[0].nombre_completo%></b>
        <br>
        <div class="center" style="font-size: 20px;"><%=@tacactas[0].cargo_f%></div>
      </p>
      <p class="center tamanio"><%#=@tacactas[0].tac_firmante.nombramiento %></p>
    </p>
    <br>
    <% @tacactas.each do |datos2|%>
      <%llave = datos2.cedula%> 
      <% if llave != @ci %>
        <%@ci = datos2.cedula%>
        <b style="">
        <div style="margin-bottom:25px; margin-top: 100px;">____________________________________________________</div>
        Abg. <%= datos2.primer_nombre.upcase %> <%= datos2.segundo_nombre.upcase %> <%= datos2.primer_apellido.upcase %> <%= datos2.segundo_apellido.upcase %> 
      </b>
      
      <p class="tamanio"> 
        <%= datos2.cargo_j%> Segundo con <%= datos2.competencia %> <%#= datos2.sedej.titleize %>
        <br><br>
      <% end %> 
    <% end %>
      </p>
  </body>
</html>
