<p>
  <h2>Actas</h2>  
</p>
<div>
  <% if flash[:info]%>
    <div class="alert alert-success alert-dismissible fade show"> 
      <%=flash[:info] %> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <%end%>

  <% if flash[:error]%>
    <div class="alert alert-danger alert-dismissible fade show"> 
      <%=flash[:error] %> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <%end%>
</div>
<table class="radius bordered shadow" id="tacactasFirmantes" >
  <thead class="backroundColorPrincipal">
    <tr>
      <th scope="col">Acta</th>
      <th scope="col">Sede</th>
      <th scope="col">Firmante</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
     <% @tacactasFirmantes.each do |acta| %>
      <tr>
        <td><%= acta.numero_acta%></td>
        <td><%= acta.sede%></td>
        <td> <%= acta.titulo %>. <%= acta.nombre_completo%></td>
        <td><%= link_to "", generate_pdf_path(:generar => acta.id, format: :pdf ), :class => "button primary rounded bordered shadow fi-page-pdf", :title => "Generar" %> </td>
        
      </tr>
     <% end %>
  </tbody> 
</table>

<script>
  function no_duplica_datatable(datatabla) {
    //https://datatables.net/forums/discussion/36875/duplicate-wrapper-with-browser-forward-back-button
    //Duplicate wrapper with browser forward/back button
    $(document).on("turbolinks:before-cache", function() {
      if (datatabla  &&  datatabla !== null) {
//        var datTab_id = datatabla.table().node().id;
        var datTab_id = $(datatabla).attr("id")
        $('#'+datTab_id).addClass('hidden');
        datatabla.destroy();
        datatabla = null;
      }
    });
    
    // Jquery DataTable Responsive:
    //   Se refiere a la 1ra columna con el botón para mostrar/ocultar el resto de las columnas
    //   O también cuando se utiliza la CLASE detente
    $('.dataTable').off('click', '.control, .detente').on('click', '.control, .detente', function(e) {
      e.stopImmediatePropagation();
    });
  }

  
  var tabla_cont = $('#tacactasFirmantes').dataTable({
    language: traduceDataTable()
  });
  no_duplica_datatable(tabla_cont);
  
</script>
