<p>
  <h2>Actas</h2>  
</p>
<table class="table">
  <thead class="tabla-color">
    <tr>
      <th scope="col">Acta</th>
      <th scope="col">Sede</th>
      <th scope="col">Firmante</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
     <% @tacactas.each do |acta| %>
    <tr>
      <td><%= acta.numero_acta%></td>
      <td><%= acta.sede%></td>
      <td><%= acta.id_firmante%></td>
      <td>
        <%= link_to '', edit_acta_path(acta), :class => "btn btn-warning fa fa-edit ", :title => "Editar"%>
        <%= link_to '', acta_path(acta), method: :delete, data:{confirm: '¿Esta seguro?'}, :class => "btn btn-danger fa fa-trash ", :title => "Eliminar" %>
        <%= link_to "", generate_pdf_path(format: :pdf), :class => "btn btn-info col-md-3 offset-md-1 fa fa-print" %>
          
      </td>
    </tr>
     <% end %>
  </tbody> 
</table>

<div class="offset-md-3">
   <%= link_to 'Agregar', new_acta_path, :class => "btn btn-success col-md-3" %> 
</div>
