<div class="subContenido">
  <p>
    <h2>Actas abiertas</h2>  
  </p>
      <%# flash.each do |type, msg| %>
        <div > <%#= msg %> </div>
      <%# end %>
      <% if flash[:error]%>
       <div id="alert" class="callout alert" data-closable>
         
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
      <%end%>
      
  <table class="radius bordered shadow" id="tacactasFirmantes">
    <thead class="backroundColorPrincipal">
      <tr>
        <th scope="col">Acta</th>
        <th scope="col">Sede</th>
        <th scope="col">Firmante</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
       <% @tacactasFirmantes.each do |acta| %>
      <tr>
        <td><%= acta.numero_acta%></td>
        <td><%= acta.sede%></td>
        <td><%= acta.nombre_completo%></td>
        <td style="display: flex;" >
          <%= link_to "", generate_pdf_path(:generar => acta.id, format: :pdf ), :class => "button tiny secondary rounded bordered shadow fi-eye", :title => "Ver", :style => "margin-right:5px;"%> 
          <%= link_to '', edit_acta_path(acta), :class => "button tiny warning rounded bordered shadow  fi-page-edit ", :title => "Editar", :style => "margin-right:5px;"%>
          <%#= link_to "", cerrar_acta_path(acta.id, :estatus => "FALSE"), :class => "btn btn-success fa fa-share-square-o", :title => "Cerrar Acta" %>

          <%= link_to '', acta_path(acta), method: :delete, data:{confirm: '¿Esta seguro?'}, :class => "button tiny alert rounded bordered shadow fi-trash ", :title => "Eliminar",:style => "margin-right:5px;" %>
          <%= link_to "", cerrar_acta_path(acta), :class => "button tiny success rounded bordered shadow  fi-lock", :title => "Cerrar",:style => "margin-right:5px;" %>
        </td>
      </tr>
       <% end %>
    </tbody> 
  </table>

  <div class="text-center">    
     <%= link_to 'Agregar Acta', new_acta_path, :class => "button rounded bordered shadow buttonColor" %> 
  </div>
</div>
<script>
$('#tacactasFirmantes').dataTable({
    language: traduceDataTable()
  });
//alertify.dialog('alert').set({transition:'pulse',message: 'Transition effect: slide'}).show();
$('#alert').html("<%=flash[:error] %> ");
//alertify.error(asd); 
</script>