<div class="callout border-none radius bordered shadow card">
  <div class = "grid-x grid-padding-x">     
    <div class="large-12 cell">
      <h2 class="margin-bottom-2">Detalles</h2>
      <p><b>N° de Acta:</b> <%= @tac_actas.numero_acta%></p>
      <p><b>Fecha del acta creada en sistema</b> <%= @tac_actas.creado_el%></p>
      <p><b>Sede:</b> <%= @tac_actas.sede%></p>
      <p><b>Firmante:</b> <%= @tac_actas.tac_firmante_id%></p>
      <p><b>Para:</b> <%= @tac_actas.para%></p>
    </div>

    <div class="large-12 cell margin-top-2 text-center">
      <%= link_to '', tac_actas_edit_path(@tac_actas.id), :class => "button large warning rounded bordered shadow  fi-page-edit ", :title => "Editar", :style => "margin-right:5px;"%>
      <%= link_to '', tac_actas_destroy_path(@tac_actas.id), method: :delete, data:{confirm: '¿Esta seguro?'}, :class => "button large alert rounded bordered shadow fi-trash ", :title => "Eliminar",:style => "margin-right:5px;" %>
      <%= link_to "", cerrar_acta_path(@tac_actas.id), :class => "button large success rounded bordered shadow  fi-lock", :title => "Cerrar",:style => "margin-right:5px;" %>
    </div>
  </div> 
</div>
 
