<div class="">
  <h3>Editar</h3>

<%= form_for @tinusuarios, url: {action: "update"}  do |usuario| %>

  <% if @tinusuarios.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@tinusuarios.errors.count, "error") %> han impedido que el artículo sea grabado:
      </h2>
      <ul>
        <% @tinusuarios.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<table class="table" id="TablaIntranet">
  <thead class="tabla-color">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Cédula</th>
      <th scope="col">Correo</th>
      <th scope="col">Dependencia</th>
      <th scope="col">Cargo</th>
      <th scope="col">Rol</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @tinusuarios.primer_nombre %> <%= @tinusuarios.segundo_nombre %>
            <%= @tinusuarios.primer_apellido %> <%= @tinusuarios.segundo_apellido %>            
        </td>
        <td><%= @tinusuarios.cedula %></td>
        <td><%= @tinusuarios.correo_inst %></td>
        <td><%= @tinusuarios.dependencia_id %></td>
        <td><%= @tinusuarios.descripcion_cargo %></td>
        <td>
          <div class = "form-row">
            <div class="form-group">
             <%= select_tag(:rol, raw(options_for_select([['Seleccione...', ''], ['Administrador', 'Administrador'], ['Usuario', 'Usuario']]))) %>
              <%#=  %>
            </div>
          </div>
        </td>
      </tr>
  </tbody>
</table>
  
  <div class="row" style="margin-top: 30px;">
    <%= usuario.submit "Guardar", :class => "btn btn-success col-md-1 offset-md-4 tabla-color" %>
  </div>


<% end %>
</div>