<div class="callout border-none radius bordered shadow card">
  <div class="grid-x grid-padding-x"> 
    <div class = "large-3 cell">
      <div class="input-group">
        <input class="input-group-field" disabled placeholder="Cédula" id="cedula" type="text" name="acta[cedula]" title= "Cedula para buscar al funcionario">
        <div class="input-group-button">
          <input type="button" value="Buscar" id="buscador" class="button buttonColor" disabled>
        </div>
      </div>            
    </div>
          <!--
          <div class = "large-4 cell">
            <span id="notificacion" ></span>
          </div>
          -->
    <div class="large-4 cell">
      <p class="callout warning">
        <i class="fi-alert"></i>
          La busqueda por cedula se encuentra deshabilitada.
          Por favor presione el botón Manual para poder escribir el nombre del juramentado.
      </p>
    </div>
    <div class = "large-1 cell">
      <span id="notificacion" ></span>
        <button class="button rounded bordered shadow" id="manual">Manual</button>
    </div>
</div>
</div>
      
<%= form_for @juramentado, :html => {:id => "formulario"} do |form| %>
  <%#= form_with scope: :acta, id: 'formulario', url: juramentados_path, local: true do |form| %>
  
   <div class="callout border-none radius bordered shadow card" id="datos_juramentados">
    <h4>Nombres y Apellidos</h4>
        <%= form.label :Nombres %>

    <div class = "grid-x grid-padding-x">
      
        
      <div class="large-4 cell">
        <%= form.text_field :primer_nombre, :class => "", placeholder: "Primer nombre", id: 'primer_nombre', required: true %>
      </div>
     <div class="large-4 cell">
        <%= form.text_field :segundo_nombre, :class => "", placeholder: "Segundo nombre", id: 'segundo_nombre' %>
     </div>
      
    </div>  
    <%= form.label :Apellidos %>
   
    <div class = "grid-x grid-padding-x">
      <div class="large-4 cell">
        <%= form.text_field :primer_apellido, :class => "form-control", placeholder: "Primer apellido", id: 'primer_apellido' , required: true %>
      </div>
      <div class="large-4 cell">
        <%= form.text_field :segundo_apellido, :class => "form-control offset-md-1", placeholder: "Segundo apellido", id: 'segundo_apellido' %>
      </div>
    </div>

    <div  class = "grid-x grid-padding-x">
      <div class="large-2 cell">
        <%= form.label :Cédula %>
        <%= form.text_field :cedula, :class => "form-control col-md-7 enteroPositivo", placeholder: "Cédula", id: 'FormCedula', pattern:'[0-9]{3,8}', required: true %>
      </div>
    </div>
     
   </div>
      
    <div class="callout border-none radius bordered shadow card">
      <h4>Datos del Acta</h4>
    <div class = "grid-x grid-padding-x">
      <div class="large-4 cell">
        <%= form.label :Acta %>
        <%= form.select :tac_acta_id, options_from_collection_for_select(@tac_actas,
                :id, :numero_acta), { prompt: 'Seleccione acta...' }, { required: true, class: 'form-control' } %>
      </div>   
      <div class="large-4 cell">
          <%= form.label :resolución %>
          <%= form.text_field :resolucion, :class => "form-control" %>
      </div>
      <div class="large-4 cell">
          <%= form.label :fecha %>
          <%= form.date_field( :fecha_resolucion, start_year: 2020)%>
      </div> 
    </div>

    <div class="grid-x grid-padding-x">
      <div class="large-4 cell">
          <%= form.label :Cargo %>
          <%= form.select :tac_cargo_id, options_from_collection_for_select(@tac_cargos,
                :id, :cargos), { prompt: 'Seleccione...' }, { required: true, class: 'form-control', id: 'cargo' } %>
      </div> 
      <div class="large-3 cell" id="cargo_letras">
        <%= form.label :C %>
        <%= form.text_field :cargo_letras, :class => "form-control", placeholder: "Decimo", id: 'cargo_l' %>
      </div> 
      <div class="large-1 cell" id="cargo_numero">
        <%= form.label :Numero %>
        <%= form.text_field :cargo_numero, :class => "form-control", placeholder: "10", id: 'cargo_n' %>
      </div>   
    </div>

    <div class= "grid-x grid-padding-x">
      <div class="large-6 cell">
        <%= form.label :unidad %>
        <%= form.select :tac_unidade_id, options_from_collection_for_select(@tac_unidades,
              :id, :coordinaciones_regionales), { prompt: 'Seleccione...' }, { required: true, class: 'form-control',id: 'unidad' } %>
      </div>
     
      <div class="large-6 cell">
        <%= form.label :extension_o_sede %>
        <!--<select id="sedes" class="form-control" name="tac_juramentado[tac_extensiones_sedes_id]" required></select>-->
        <%=form.select :tac_extensiones_sedes_id, {}, {include_blank: true}, {class: 'materias', id:'sedes'} %>
      </div>
      
    </div>

    <div class = "grid-x grid-padding-x" id="competenciaDiv">
      <div class="large-6 cell">
        <%= form.label :competencia %>
        <%= form.select :tac_competencia_id, options_from_collection_for_select(@tac_competencias,
              :id, :competencia), { prompt: 'Seleccione...' }, {class: 'form-control', id: 'competencia' } %>
      </div>
    </div>
    <div class="grid-x grid-padding-x" id="CompMateria">
      <div class="large-12 cell">
        <div id='tac_juramentado_materias'>
          <%= form.fields_for :tac_juramentado_materias do |materia| %>
            <%= render 'materias_fields', :f => materia %>   
          <% end %>
          <div class='links'>
              <%= link_to_add_association '', form, :tac_juramentado_materias, :class => "button tiny rounded bordered shadow success fi-plus ",:title => "Agregar Materia" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="text-center" style="margin-top: 20px;">
    <%= form.submit "Guardar", :class => "button large rounded bordered shadow buttonColor" %>
  </div>
  <% end %>

  <script>
    var contador = false;
$(document).ready(function(){
  $('.add_fields').hide(); // Oculto el enlace
  $('#competenciaDiv').hide(); // Oculto el enlace
  $('#cargo_letras').hide(); // Oculto el enlace 
  $('#cargo_numero').hide(); // Oculto el enlace
  $('#datos_juramentados').hide(); // Oculto el enlace
  
  $("#formulario")[0].reset();
// ######### Traer Cedulados ##################################   
  function buscar_cedula() {
    var cedula = $('#cedula').val();

    $.ajax(
        {   url: 'traer_cedulados',
          data: {cedula: cedula},
          type: 'post',
          //dataType: 'json',
          success: function(data) {
            procesarDatos(data)
          },
          error: function() {
              $("#notificacion").html("<p style='color:red'>No se encuentra el funcionario</p>");
          }
        }
      );

  function procesarDatos(datos_devueltos){
    $("#notificacion").html("<p style='color:green'>Encontrado</p>");
    $("#primer_nombre").val(datos_devueltos.PRIMERNOMBRE);
    $("#segundo_nombre").val(datos_devueltos.SEGUNDONOMBRE);
    $("#primer_apellido").val(datos_devueltos.PRIMERAPELLIDO);
    $("#segundo_apellido").val(datos_devueltos.SEGUNDOAPELLIDO);
    $("#FormCedula").val(datos_devueltos.NUMCEDULA);
    // a continuación le agregamos disable a los campos que es traidos desdes el ajax
    $("#primer_nombre").attr('readonly', true);
    $("#segundo_nombre").attr('readonly', true);
    $("#primer_apellido").attr('readonly', true);
    $("#segundo_apellido").attr('readonly', true);
    $("#FormCedula").attr('readonly', true);
  }
}

  $('#cedula').change(function() {
    buscar_cedula();
  });

  $("#buscador").click(function(){
    buscar_cedula();
  
  //return false
  });
// ######## Fin Traer Cedulados ###############################


// ######## Datos Manuales ########

$('#manual').click(function(){
  $('#datos_juramentados').toggle('fast');
});

// ######## FIN ########

// ######## Unidades y sedes #####################

  $('#unidad').change(function() {
  $("#sedes").html("<option>" +"Seleccione..."+ "</option>" );
  var unidad = $('#unidad').val();    
  $.post("extensiones_sedes", function(result){
    $.each(result, function(i, field){
      if (unidad == field.tac_unidade_id) {
        $("#sedes").append(`<option value = ${field.id}>` + field.coordinaciones_extensiones + "</option>" );
      }
    });
  }, 'json');
  });

  // ######## Fin Unidades y sedes #####################

  // ######## Materias #####################
  $('#competencia').change(function() {
  $("#materias").html("<option>" +"Seleccione..."+ "</option>" );
  var competencia = $('#competencia').val();    
  $.post("materias", function(result){
    $.each(result, function(i, field){
      if (competencia == field.tac_competencia_id) {
        $(".materias").append(`<option value = ${field.id}>` + field.materia + "</option>" );
      }
    });
  }, 'json');
  $(".add_fields").click();
  $('.add_fields').show("fast"); // Muestro el enlace
  contador = true;
  });

  $(".add_fields").click(function() {
  if (contador == true) {
    //$("#asd").html("<select id = 'materias2'>" +"<option>" +"Seleccione..."+ "</option>"+ "</select>" );
  $(".materias").attr("class","materias2");
  }
  });

  $('body').on('click', '.add_fields', function(){
    console.log("Bien");
    setTimeout(function() {
      $('.materias').prop('required',true);
      $(".materias2 option").each(function(){
        console.log('opcion '+$(this).text()+' valor '+ $(this).attr('value'))
        $(".materias").append("<option value = " + $(this).attr('value') + ">" + $(this).text() + "</option>" );
    });
  },100);
  });

  // ######## Fin Materias #####################

  // ####### Cuando es un Coordinador ##########

  $('#cargo').change(function() {
   var cargo = $('#cargo').val();
   if (cargo==3) {
     $('#competenciaDiv').hide("fast");      
     $('#CompMateria').hide("fast");
     $('#competencia').val("");
     $('.materias').val("");
     $('.materias2').val("");
     $('#cargo_l').val("");
     $('#cargo_n').val("");
     $('.remove_fields').click();
     $('.add_fields').hide();
     $('#cargo_letras').hide('fast');
     $('#cargo_numero').hide('fast');
     
   }else{
     $('#competenciaDiv').show("fast");
     $('#CompMateria').show("fast");
     $('#competencia').prop('required',true);
     $('#cargo_letras').show('fast');
     $('#cargo_numero').show('fast');         
   }
  //$('.add_fields').hide();
  });

  // ###### FIN #######

});
  </script>