<script>
  $(document).ready(function(){
    var dat_extension = $('#unidad').val();
    $.post("extensiones_sedes", function(result){
      $.each(result, function(i, field){
        if (dat_extension == field.tac_unidade_id) {
          $("#sedes").append(`<option value = ${field.id}>` + field.coordinaciones_extensiones + "</option>" );
          //console.log(field.coordinaciones_extensiones);
        }
      });
    }, 'json');
/*
    var dat_materia = $('#competencia').val();
    //console.log(dat_materia);
    $.post("materias", function(result){
      $.each(result, function(i, field){
        if (i == field.id) {
          $("#materias").html(`<option value = ${field.id}>` + field.materia + "</option>" );
          console.log('aaaaaaaaaaaaaaaaaaaa');
          console.log(field.materia);
        }
        if (dat_materia == field.tac_competencia_id) {
          $("#materias").append(`<option value = ${field.id}>` + field.materia + "</option>" );
          //console.log(field.materia);
        }
      });
    }, 'json');
*/


// ######## Unidades y sedes #####################


    $('#unidad').change(function() {
    $("#sedes").html("<option>" +"Seleccione..."+ "</option>" );
    var unidad = $('#unidad').val();  
    console.log(unidad)  
    $.post("extensiones_sedes", function(result){
      $.each(result, function(i, field){
        if (unidad == field.tac_unidade_id) {
          $("#sedes").append(`<option value = ${field.id}>` + field.coordinaciones_extensiones + "</option>" );
        }
      });
    }, 'json');
  });

// ######## Fin Unidades y sedes #####################

// ######## Materias #####################
  
  $('#competencia').change(function() {
    $("#materias").html("<option>" +"Seleccione..."+ "</option>" );
    var competencia = $('#competencia').val();    
    $.post("materias", function(result){
      $.each(result, function(i, field){
        if (competencia == field.tac_competencia_id) {
          $("#materias").append(`<option value = ${field.id}>` + field.materia + "</option>" );
        }
      });
    }, 'json');
  });

  // ######## Fin Materias #####################

  });

</script>
<div class="">
  <h3>Editar Juramentado</h3>

<%= form_for @tac_juramentados, url: {action: "update"}  do |form| %>

<div class="callout border-none radius bordered shadow card">
    <h4>Nombres y Apellidos</h4>
        <%= form.label :Nombres %>

    <div class = "grid-x grid-padding-x">
      
        
      <div class="large-4 cell">
        <%= form.text_field :primer_nombre, :class => "", placeholder: "Primer nombre", id: 'primer_nombre' %>
      </div>
     <div class="large-4 cell">
        <%= form.text_field :segundo_nombre, :class => "", placeholder: "Segundo nombre", id: 'segundo_nombre' %>
     </div>
      
    </div>  
    <%= form.label :Apellidos %>
   
    <div class = "grid-x grid-padding-x">
      <div class="large-4 cell">
        <%= form.text_field :primer_apellido, :class => "form-control", placeholder: "Primer apellido", id: 'primer_apellido' %>
      </div>
      <div class="large-4 cell">
        <%= form.text_field :segundo_apellido, :class => "form-control offset-md-1", placeholder: "Segundo apellido", id: 'segundo_apellido' %>
      </div>
    </div>

    <div  class = "grid-x grid-padding-x">
      <div class="large-2 cell">
        <%= form.label :Cédula %>
        <%= form.text_field :cedula, :class => "form-control col-md-7 enteroPositivo", placeholder: "Cédula", id: 'FormCedula', pattern:'[0-9]{3,8}' %>
      </div>
    </div>
     
   </div>
      
  <div class="callout border-none radius bordered shadow card">
    <h4>Datos del Acta</h4>
      <div class = "grid-x grid-padding-x">
        <div class="large-4 cell">
          <%= form.label :Acta %>
          <%= form.select :tac_acta_id, options_from_collection_for_select(@tac_actas,
                :id, :numero_acta,form.object.tac_acta_id), { prompt: 'Seleccione acta...' }, { required: true, class: 'form-control' } %>
       </div>   
        <div class="large-4 cell">
          <%= form.label :resolución %>
          <%= form.text_field :resolucion, :class => "form-control" %>
        </div>
        <div class="large-4 cell">
          <%= form.label :fecha %>
          <%= form.date_field( :fecha_resolucion, start_year: 2020)%>
        </div> 
    </div>

    <div class="grid-x grid-padding-x">
      <div class="large-4 cell">
          <%= form.label :Cargo %>
          <%= form.select :tac_cargo_id, options_from_collection_for_select(@tac_cargos,
                :cargos, :cargos,form.object.id), { prompt: 'Seleccione...' }, { required: true, class: 'form-control' } %>
      </div>   
    </div>

    <div class= "grid-x grid-padding-x">
      <div class="large-6 cell">
        <%= form.label :unidad %>
        <%= form.select :tac_unidade_id, options_from_collection_for_select(@tac_unidades,
              :id, :coordinaciones_regionales, form.object.tac_unidade_id), { prompt: 'Seleccione...' }, { required: true, class: 'form-control',id: 'unidad' } %>
      </div>
     
      <div class="large-6 cell">
        <%= form.label :extension_o_sede %>
        <!--<select id="sedes" class="form-control" name="acta[tac_extensiones_sedes_id]" required></select>-->
        <%=form.select :tac_extensiones_sedes_id, options_from_collection_for_select(@tac_extensiones_sedes,
         :id, :coordinaciones_extensiones, form.object.tac_extensiones_sedes_id),{include_blank: true}, {class: 'materias', id:'sedes', required: true} %>
        <!--<%=form.select :tac_extensiones_sedes_id, {}, {include_blank: true}, {class: 'materias', id:'sedes', required: true} %>-->
        <h6><%= form.object.tac_extensiones_sedes_id%></h6>
      </div>
      
    </div>

    <div class = "grid-x grid-padding-x">
      <div class="large-6 cell">
        <%= form.label :competencia %>
        <%= form.select :tac_competencia_id, options_from_collection_for_select(@tac_competencias,
              :id, :competencia, form.object.tac_competencia_id), { prompt: 'Seleccione...' }, { required: true, class: 'form-control', id: 'competencia' } %>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <%= form.label :materias %>
       <!-- <select id="materias" class="form-control" name="acta[tac_materia_id]" required multiple></select> -->
      </div>
    </div>
  </div>
  
  
  <div class="text-center" style="margin-top: 20px;">
    <%= form.submit "Guardar", :class => "button large rounded bordered shadow buttonColor" %>
  </div>


<% end %>
</div>