<p>
  <h2 id="qwe">Juramentados</h2>  
</p>
<div>
  <% if flash[:info]%>
    <div class="callout success"> 
      <%=flash[:info] %> 
    </div>
  <%end%>

  <% if flash[:error]%>
    <div class="callout alert"> 
      <%=flash[:error] %> 
    </div>
  <%end%>
</div>

<table class="radius bordered shadow" id="tacactasFirmantes">
  <thead class="backroundColorPrincipal" >
    <tr>
      <th scope="col">Acta</th>
      <th scope="col">Cédula</th>

      <th scope="col">Cargo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
     <% @tacjuramentados.each do |juramentados| %>
    <tr>
      <td><%= juramentados.numero_acta%></td>
      <td><%= juramentados.cedula%></td>
      <td><%= juramentados.cargos%></td>
      <td>
        <%= link_to '', tac_juramentado_path(juramentados.id), :class => "button info rounded bordered shadow fi-magnifying-glass", :title => "Detalles"%>
      </td>

    </tr>
     <% end %>
  </tbody> 
</table>

<div class="text-center ">
   <%= link_to 'Agregar', new_tac_juramentado_path, :class => "button rounded bordered shadow buttonColor", id: 'asd'%> 
</div>
<p id="asd2"></p>
<script>
  
  $('#tacactasFirmantes').dataTable({
    language: traduceDataTable()
  });  
   
</script>