<div class="callout border-none radius bordered shadow card">
  <div class = "grid-x grid-padding-x">     
	  <div class="large-12 cell">
	  	<h2 class="margin-bottom-2">Detalles</h2>
	    <p><b>Nombres:</b> <%= @tacjuramentado[0].primer_nombre%> <%= @tacjuramentado[0].segundo_nombre%></p>
	    <p><b>Apellidos:</b> <%= @tacjuramentado[0].primer_apellido%> <%= @tacjuramentado[0].segundo_apellido%></p>
	    <p><b>Cédula:</b> <%= @tacjuramentado[0].cedula%></p>
	    <p><b>Resolución:</b> <%= @tacjuramentado[0].resolucion%></p>
	    <% if @tacjuramentado[0].tac_cargo_id != 3  %>
	    	<p><b>Competencia:</b> <%= @tacjuramentado[0].competencia%></p>
	    <% end %>
	    <p><b>Fecha Resolución:</b> <%= @tacjuramentado[0].fecha_resolucion%></p>
	    <p><b>Unidad:</b> <%= @tacjuramentado[0].coordinaciones_regionales%></p>
	    <% if @tacjuramentado[0].coordinaciones_extensiones == ""  %> 
	    	<p><b>Extensión:</b> <%= @tacjuramentado[0].coordinaciones_extensiones%></p>
	    <% end %>
	    <p><b>Cargo:</b> <%= @tacjuramentado[0].cargos%> <%= @tacjuramentado[0].cargo_letras%> 
	    	             <%= @tacjuramentado[0].cargo_numero%>
	    </p>
	    <% if @tacjuramentado[0].tac_cargo_id != 3 %>
				<p><b>Materias:</b> <%= @tacjuramentado[0].materia%></p>
	    <% end %>
	    </p> 
	  </div>

	  <div class="large-12 cell margin-top-2 text-center">
	    <%#= link_to '', edit_tac_juramentado_path(@tacjuramentado[0].juramentado_id), :class => "button large warning rounded bordered shadow fi-page-edit", :title => "Editar"%>
	    <%= link_to '', tac_juramentado_path(@tacjuramentado[0].juramentado_id), method: :delete, data:{confirm: '¿Esta seguro?'}, :class => "button large secondary rounded bordered shadow alert fi-trash", :title => "Eliminar"%> 
	  </div>
	</div> 
</div>
 
