<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SISAJUDP</title>
    <link rel="icon" type="image/ico" href="<%= image_path("dp.ico") %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if signed_in? %>
      <div class="off-canvas-wrapper">
            <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

              <div class="off-canvas position-left menuBackground " id="my-info" data-off-canvas data-position="left" >
                <div class="row column">
                  <br>
                  <span src="logo.png" class="logo"> <%= image_tag("logo.png", size: "180x70")%> </span>
                  <h4> <%=current_usuario.email%></h4>
                  <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle>
                    <li> <%= link_to "Inicio", actas_path %></li>
                    <li>
                      <a href="#">Actas</a>
                      <ul class="vertical menu nested subMenu">
                        <li><%= link_to "Crear", new_acta_path %></li>
                        <li><%= link_to "Actas Abiertas", actas_abiertas_path %></li>
                      </ul>
                      </li>
                      <li><%= link_to "Juramentados", tac_juramentados_path %></li>
                      <li><%= link_to "Usuarios", usuarios_sistema_path %></li>
                      <li><%= link_to "Salir", destroy_usuario_session_path, method: :delete, data: { confirm: "¿Seguro que quiere Salir?" } %></li>
                      <li>
                        <a><%=current_usuario.email%> </a>
                        <ul class="menu subMenu">
                          <li><%= link_to "Salir", destroy_usuario_session_path, method: :delete, data: { confirm: "¿Seguro que quiere Salir?" } %></li>
                        </ul>
                        
                      </li>
                    </ul>
                </div>
              </div>

              <div class="off-canvas-content" data-off-canvas-content>

                <div class="title-bar show-for-medium menuBackground">
                  <div class="title-bar-left">

                    <%= link_to "SISAJUDP", actas_path, :class => "title-bar-title", :style => "color:white;" %>
                  </div>

                    <ul class="dropdown menu show-for-large icons" data-dropdown-menu >
                      <li>
                        <a href="#" class="" >Actas</a>
                        <ul class="menu subMenu">
                          <li><%= link_to "Crear", new_acta_path %></li>
                          <li><%= link_to "Actas Abiertas", actas_abiertas_path %></li>
                        </ul>
                      </li>
                      <li><%= link_to "Juramentados", tac_juramentados_path, :class => "" %></li>
                      <li><%= link_to "Usuarios", usuarios_sistema_path, :class => "" %></li>
                      <li>
                        <a class=""><%=current_usuario.email%> </a>
                        <ul class="menu subMenu">
                          <li><%= link_to "Salir", destroy_usuario_session_path, method: :delete, data: { confirm: "¿Seguro que quiere Salir?" } %></li>
                        </ul>
                        
                      </li>
                    </ul>
                 

                  <div class="title-bar-right hide-for-large">
                    <button class="menu-icon" type="button" data-open="my-info"></button>
                  </div>
                </div>

                <div class="title-bar hide-for-medium menuBackground">
                  <div class="title-bar-left">
                    <button class="menu-icon" type="button" data-open="my-info"></button>
                    <span class="title-bar-title">SISAJUDP</span>
                  </div>
                </div>


                <div class="grid-container">
                  <div class="grid-x grid-padding-x">
                    <div class="large-12 cell">
                      <%= yield %>   
                    </div>
                    
                  </div>
                </div>
                <div class="grid-x grid-padding-x">
                  <div class="large-12 cell">
                  <hr>
                  <div class="text-center">
                    <p>Dirección Nacional de Tecnología de la Información - División de Proyectos e Innovaciones Tecnologícas</p>
                    <p>atencion.usuario@defensapublica.gob.ve EXT. 1950</p>
                  </div>
                    
                  </div>
                </div>
            
                
              </div>
            </div>
      </div>

    <script>
      $(document).ready(function() {
        $(document).foundation();
      });
    </script>
    <% end %>
  </body>
</html>



